@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --main-color: #6DBFE2;  
}
*{
    margin: 0;
    parding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;}
    img {
        width: 100%;
        height: auto;}
    h1 {
        font-size: 24px;}
}

header{
height:100vh;
background:
linear-gradient(rgba(61, 51, 51, 0.29),rgba(0,0,0,.45)),
url("https://images.unsplash.com/photo-1528127269322-539801943592?q=80&w=1600");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:20px;
}


.hero h1{
font-size:60px;
margin-bottom:20px;
}
.hero p{
font-size:22px;
margin-bottom:30px;
}
.hero a{
text-decoration:none;
background:#d70a0a;
padding:15px 35px;
border-radius:50px;
color:rgb(255, 255, 255);
font-weight:bold;
transition:.3s;
}
.hero a:hover{
    color: rgb(11, 34, 147);
}


.header-top{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bbe0ff;
    z-index: 9999;
}
.header-top ul{
    display: flex;
    list-style: none;
    padding: 10px 0;
    gap: 20px;
    border-radius: 70px;
    justify-content: right;
}
.header-top ul li{
    margin-bottom: 0px;
    font-size: 15px;
    cursor: pointer;
}
.header-top ul li a{
    display: block;
    padding: 0px;
    transition: all 0.3s ease;
}
.header-top ul li a:hover{
    color: rgb(223, 38, 5);
}


.filter-section{
    background:#e7f3fd;
    height: 150px;
    text-align:center;
}
.filter-section h2{
    color: #0077b6;
    font-size: 30px;
    margin: 20px;
}
.filter-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}
.filter-container select{
    padding:12px 20px;
    border:none;
    border-radius:30px;
    min-width:220px;
    outline:none;
    box-shadow:var(--shadow);
}


.logo{
    font-size:1.2rem;
    font-weight:bold;
    color:rgb(35, 35, 211);
    float: left;
    margin-right: 800px;
}
.logo i{
    margin-right:8px;
}


.section-title{
    text-align:center;
    font-size:20px;
    color:#0077b6;
    margin:40px 0;
    text-shadow:2px 2px 5px rgba(0,0,0,0.2);
}


.stats{
    display:flex;
    justify-content:center;
    gap:50px;
    margin:50px 0;
}
.stats div{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}
.stats div:hover{
    transform:translateY(-10px);
}
.stats h2{
    color:#00b4d8;
}


.card-container{
    background: #e6f7f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.card-containers{
    background: #fbfbe0;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}    
.card-containered{
    background: #f5f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.region-section h1{
    text-align: center;
    font-size: 30px;
    color:#d18686
}
.place-card{
    position: relative;
    width: 320px;
    height: 420px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    margin: 30px;
}
.place-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.place-name{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}
.place-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(255, 213, 79, 0.95);
    transform: translateY(100%);
    transition: 0.5s;
    box-sizing: border-box;
}
.place-info h3{
    color:#b61182
}
.place-card:hover .place-info{
    transform: translateY(0);
}
.place-card img{
    transition: 0.5s;
}
.place-card:hover img{
    transform: scale(1.1);
}


.reviews{
    background:hsl(212, 70%, 95%);
}
.reviews h2{
    font-size: 30px;
}
.review-container{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    justify-content: center;
    gap:30px;
}
.review-card{
    background:rgb(189, 215, 224);
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:var(--shadow);
    transition:0.4s;
}
.review-card:hover{
    transform:translateY(-10px);
}
.review-card img{
    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:50%;
    margin:auto;
    margin-bottom:15px;
}
.review-card h3{
    margin-bottom:10px;
    color:var(--primary);
}
.stars{
    font-size:1.2rem;
    margin-bottom:10px;
}


.food-container{
    background: #f4e9f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.place-section h1{
    text-align: center;
    font-size: 30px;
    color:#0077b6
}
.place-section h3{
    font-size: 20px;
    text-align: center;
    color:#04391f
}
.food-card{
    position: relative;
    width: 320px;
    height: 420px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    margin: 30px;
}
.food-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.food-name{
    position: absolute;
    bottom: 15px;
    left: 15px;

    color: white;
    font-size: 24px;
    font-weight: bold;

    text-shadow: 2px 2px 5px black;
}
.food-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(255, 213, 79, 0.95);
    transform: translateY(100%);
    transition: 0.5s;
    box-sizing: border-box;
}
.food-info h2{
    color:#076754
}
.food-info i{
    color:#1346c7
}
.food-card:hover .food-info{
    transform: translateY(0);
}
.food-card img{
    transition: 0.5s;
}
.food-card:hover img{
    transform: scale(1.1);
}
.contact-section{
    background:white;
}
.section-title h2{
    text-align: center;
}
.section-title p{
    text-align: center;
}
.contact-container{
    max-width:800px;
    margin:auto;
}
#contactForm{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:var(--shadow);
}
.form-group{
    margin-bottom:20px;
}
.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}
.form-group input,
.form-group textarea{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    transition:0.3s;
}
.form-group input:focus,
.form-group textarea:focus{
    border-color:var(--primary);
    box-shadow:0 0 8px rgba(0,119,255,0.2);
}
textarea{
    resize:none;
}
.btn{
    padding:12px 26px;
    background:rgb(64, 123, 243);
    color:rgb(3, 2, 2);
    border-radius:30px;
    transition:0.4s;
    display:inline-block;
    font-weight:600;
}
.btn:hover{
    transform:translateY(-5px);
}


footer{
    background:#07152d;
    color:white;
    padding-top: 50px;
    margin: auto;
}

.footer-container{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    grid-template-columns:repeat(4,1fr);
    gap:100px;
    width:95%;
    margin:auto;
}
.footer-box h3{
    white-space: nowrap;
    font-size: 13px;
    margin-bottom:20px;
    color:#ffb347;
}

.footer-box p{
    line-height:1.8;
    font-size: 13px;
}

.footer-box ul{
    list-style:none;
    font-size: 13px;
    white-space: nowrap;
}

.footer-box ul li{
    margin-bottom:12px;
    font-size: 13px;
}

.footer-box a{
    color:white;
    text-decoration:none;
    font-size: 13px;
}

.footer-box a:hover{
    color:#f80000;
}
.footer-box iframe{
    width:100%;
    height:150px;
    border:none;
    border-radius:10px;
}
.copyright{
    text-align:center;
    padding:20px;
    border-top:1px solid rgba(255,255,255,.2);
    font-size: 13px;
}
